extends ./layout
                                                                                                                                                          
block content
    #page-wrapper
      center
        h3 여러분의 친구를 추가해보세요
      table#friendTable(data-toggle='table', data-pagination="true", data-page-list="[5, 10, 20, 50, 100, 200]", data-search="true")
        thead
          tr
            th(data-field='username', data-sortable="true") 사용자 이름
            //- th(data-field='email', data-sortable="true") E-mail Address
            //- th(data-field='regDate', data-sortable="true") 최초 가입일
            th(data-field='activitySimilarity', data-sortable="true") 활동 유사 점수
            th(data-field='interestSimilarity', data-sortable="true") 관심사 유사 점수
            th(data-field='postingCount', data-sortable="true") 포스팅 개수
            th(data-field='totalSimilarity', data-sortable="true") 최종 유사 점수
            th(data-formatter='showInterestButtonField', data-sortable="true") 최종 유사 점수
            th(data-field='isFriend', data-formatter='addFriendButtonField', data-sortable="true") 친구 추가
        #interestModal.modal.fade(role='dialog', aria-labelledby='orderModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') x
                h5 사용자 관심사 모델
              #interestView.modal-body(style='border: solid 1px blue; width:100%; height:300px;')
                
              .modal-footer
                button.btn.btn-default(data-dismiss='modal', aria-hidden='true') Close
