extends ./layout

block content
    #page-wrapper
      .card.hovercard
        .card-background
          img.card-bkimg(alt='', src='/assets/img/userbg.jpeg')
          // http://lorempixel.com/850/280/people/9/
        .useravatar
          img(alt='', src='/assets/img/user.png')
        .card-info
          span.card-title #{username}
      .btn-pref.btn-group.btn-group-justified.btn-group-lg(role='group', aria-label='...')
        .btn-group(role='group')
          button.stars.btn.btn-default(type='button', href='#tab1', data-toggle='tab', onclick="init()")
            span.glyphicon.glyphicon-star(aria-hidden='true')
            .hidden-xs 관심사
        .btn-group(role='group')
          button.favorites.btn.btn-default(type='button', href='#tab2', data-toggle='tab', onclick="showUserActivityChart()")
            span.glyphicon.glyphicon-heart(aria-hidden='true')
            .hidden-xs 활동 정보
      .well
        .tab-content
          #tab1.tab-pane.fade.in.active
            #myDiagramDiv(style='border: solid 1px blue; width:100%; height:300px;')
            button.btn.btn-primary#SaveButton(onclick='save()') 저장
            button.btn.btn-primary(onclick='load()') 불러오기
            button.btn.btn-default(onclick='layoutAll()') 레이아웃
            //- br
            //- h4 모델링된 관심사 표현(Format: JSON)
            //- textarea#mySavedModel(style='width:100%;height:400px;')
            //-   | { "class": "go.TreeModel",
            //-   | "nodeDataArray": [
            //-   | {"key":0, "text":"User Interest", "loc":"-96 -72", "scale":1.3310000000000004, "font":"bold 13px sans-serif"},
            //-   | {"text":"Interest 1", "parent":0, "key":-2, "loc":"32.413574218750085 -113", "dir":"right"}
            //-   | ]
            //-   | }
          #tab2.tab-pane.fade.in
            #userActivity(style="")
          #tab3.tab-pane.fade.in
              h3 TEST
    
